body {
    font-family: "Meiryo","メイリオ";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------------
ヘッダーここから
--------------------------------------------------------------------------- */

header {
    height: 102px;
    border-bottom: solid 3px #f6ac4e;
    margin-bottom: 30px;
    box-shadow: 0px 4px 7px rgba(79, 51, 16, 0.25);
}

.header-left {
    float: left;
    padding: 25px 0px;
}

.header-right {
    float: right;
    padding: 60px 0px 25px 0px;
}

.header-right li {
    float: left;
    text-align: center;
    padding: 0px 20px;
    border-left: dotted 1px #737172;
    border-right: dotted 1px #737172;
}

/* ---------------------------------------------------------------------------
ヘッダーここまで
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
トップここから
--------------------------------------------------------------------------- */

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* トップ左ここから */

.top-left {
    position: relative;
    width: 582px;
    height: 360px;
    background-color: pink;
    border: solid 1px #dcdddf;
}

.top-left .thumb {
    border-bottom: solid 1px #dcdddf;
}

.top-left .thumb .category {
    display: inline-block;
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
    background-color: rgba(246, 172, 77, 0.9);
    border: solid 1px #fff;
}

.top-left p {
    font-weight: bold;
    font-size: 18px;
    color: #434343;
    padding: 20px;
    line-height: 27px;
}

.top-left span {
    font-size: 12px;
    color: #dcdddf;
    line-height: 21px;
}

/* トップ左ここまで */

/* トップ右ここから */

.top-right {
    width: 348px;
    height: 360px;
    background-color: plum;
}

/* トップ右ここまで */

/* ---------------------------------------------------------------------------
トップここまで
--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
ボトムここから
--------------------------------------------------------------------------- */

.bottom {
    display: flex;
    justify-content: space-between;
}


.bottom-left {
    width: 280px;
    height: 1052px;
    background-color: palevioletred;
}

.bottom-right {
    width: 650px;
    height: 1052px;
    background-color: rebeccapurple;
}

/* ---------------------------------------------------------------------------
ボトムここまで
--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
フッターここから
--------------------------------------------------------------------------- */

footer {
    height: 141px;
    border-top: solid 1px #dcdddf;
}

/* ---------------------------------------------------------------------------
フッターここまで
--------------------------------------------------------------------------- */
