body {
    font-family: "Meiryo","メイリオ";
    background-color: #f6f6f6;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------------
ヘッダーここから
--------------------------------------------------------------------------- */

header {
    height: 102px;
    border-bottom: solid 3px #f6ac4e;
    margin-bottom: 30px;
    box-shadow: 0px 4px 7px rgba(79, 51, 16, 0.25);
    background-color: #fff;
}

.header-left {
    float: left;
    padding: 25px 0px;
}

.header-right {
    float: right;
    padding: 60px 0px 25px 0px;
}

.header-right li {
    float: left;
    text-align: center;
    padding: 0px 20px;
    border-left: dotted 1px #737172;
    border-right: dotted 1px #737172;
}

.header-right li a {
    color: #434343;
}

/* ---------------------------------------------------------------------------
ヘッダーここまで
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
トップここから
--------------------------------------------------------------------------- */

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* トップ左ここから */

.top-left {
    position: relative;
    width: 582px;
    border: solid 1px #dcdddf;
    background-color: #fff;
}

.top-left .thumb {
    border-bottom: solid 1px #dcdddf;
}

.top-left .thumb .category {
    display: inline-block;
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
    background-color: rgba(246, 172, 77, 0.9);
    border: solid 1px #fff;
}

.top-left h2 {
    font-weight: bold;
    font-size: 18px;
    color: #434343;
    line-height: 27px;
}

.top-left .title {    
    padding: 14px 20px;
}

.top-left .date {
    font-size: 12px;
    color: #dcdddf;
    line-height: 21px;
}

/* トップ左ここまで */

/* トップ右ここから */

.top-right {
    width: 348px;
    height: 360px;
}

.top-right .ranking {    
    position: relative;
    height: 30px;
    border-bottom: solid 1px #dcdddf;
    background-image: url("images/popular_icon.png");
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.top-right .ranking h2 {
    padding-left: 35px;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
}

.top-right .ranking-list {
    display: flex;
    padding: 15px 0px;
    border-bottom: dotted 1px #dcdddf;
}

.top-right .ranking-list .ranking-image {
    width: 89px;
    height: 55px;
}

.top-right .ranking-list .number {    
    position: absolute;
    font-size: 12px;
    width: 19px;
    height: 19px;
    text-align: center; 
    background-color: #434343;
    border: solid 1px #fff;
    color: #fff;
    font-weight: bold;
}

.top-right .ranking-list .ranking-title {
    width: 249px;
    margin-left: 10px;
}

.top-right .ranking-list .ranking-title h3 {
    font-size: 13px;
    font-weight: bold;
}

.top-right .ranking-list .ranking-title .category-small {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    width: 76px;
    height: 16px;
    text-align: center;
}

.top-right .ranking-list .ranking-title .web {
    background-color: rgb(246, 172, 77);
}

.top-right .ranking-list .ranking-title .word {
    background-color: rgb(225, 140, 124);
}

.top-right .ranking-list .ranking-title .webm {
    width: 105px;
    background-color: rgb(172, 213, 154);
}

/* トップ右ここまで */

/* ---------------------------------------------------------------------------
トップここまで
--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
ボトムここから
--------------------------------------------------------------------------- */

.bottom {
    display: flex;
    justify-content: space-between;
}


.bottom-left {
    width: 280px;
    height: 1052px;
    background-color: palevioletred;
}

.bottom-right {
    width: 650px;
    height: 1052px;
    background-color: rebeccapurple;
}

/* ---------------------------------------------------------------------------
ボトムここまで
--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
フッターここから
--------------------------------------------------------------------------- */

footer {
    height: 141px;
    border-top: solid 1px #dcdddf;
}

/* ---------------------------------------------------------------------------
フッターここまで
--------------------------------------------------------------------------- */
